<div style="height: 100%;">
  <nz-tabset>
    <nz-tab nzTitle="{{ 'PAGES.PLAY_GROUND.SAMPLE_GROOVY' | translate }}">
      <ng-template nz-tab>
        <app-sample-groovy-running></app-sample-groovy-running>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="{{ 'PAGES.PLAY_GROUND.JSON_SCHEMA' | translate }}">
      <ng-template nz-tab>
        <app-json-schema-validate></app-json-schema-validate>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="{{ 'PAGES.PLAY_GROUND.INTERPOLATION_EXPRESS' | translate }}">
      <ng-template nz-tab>
        <app-interpolation-expression></app-interpolation-expression>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Tab 3">Content of Tab Pane 3</nz-tab>
  </nz-tabset>
</div>
