<nz-page-header
  class="site-page-header"
  (nzBack)="onBack()"
  nzBackIcon
  nzTitle="{{ 'RUN' | translate }}"
>
  <nz-page-header-extra>
    <button *ngIf="haveReport" (click)="showReport()"
            nz-button nzType="primary">{{ 'SHOW_REPORT' | translate }}</button>
    <span>{{ 'STEP_DELAY' | translate }}</span>
    <nz-input-number style="width: 60px" placeholder="delay time(ms)"  [(ngModel)]="delayTime"
                     [nzMin]="0" [nzMax]="10000" [nzStep]="1"></nz-input-number>
    <span style="margin-right: 10px">s</span>
    <nz-select style="margin-right: 10px;width: 150px" nzShowSearch nzAllowClear
               nzPlaceHolder="{{ 'SELECT_ENV' | translate }}"
               [(ngModel)]="selectEnvUuid"
               [nzDisabled]="isRunning"
    >
      <nz-option *ngFor="let env of envs" nzLabel="{{env.name}}" nzValue="{{env.uuid}}"></nz-option>
    </nz-select>
    <button *ngIf="isRunning" (click)="pause()"
            nz-button nzType="primary">{{ (isPausing ? 'GOON' : 'PAUSE') | translate }}</button>
    <button *ngIf="isRunning" (click)="stop()"
            nz-button nzType="primary">{{ 'STOP' | translate }}</button>
    <button *ngIf="!isShowHistory" [disabled]="isRunning" (click)="run()"
            nz-button nzType="primary">{{ 'RUN' | translate }}</button>
    <button routerLink="/integrate/add" [queryParams]="{ uuid: integrateUuid}"
            nz-button nzType="primary">{{ 'GOTO_EDIT' | translate }}</button>
  </nz-page-header-extra>
</nz-page-header>
<nz-layout>
  <nz-sider [nzWidth]="300" nzTheme="light" style="marginLeft: 10px;">
    <div [style]="{height: height + 'px', overflowY: 'auto'}">
      <ul nz-menu nzMode="inline" nzTheme="light">
        <ul>
          <li *ngFor="let data of record;let i = index" nz-menu-item
              nzTooltipTitle="{{data.name}}"
              nzTooltipPlacement="bottomCenter" nz-tooltip
              (click)="showDetail(data.uuid, data.caseId, data.version,data.historyId, data.type,i)" >
            <nz-tag>{{i+1}}</nz-tag>
            <div style="display: inline;padding-right: 8px;width: 28px;height: 35px">
              <i style="font-size: 20px" *ngIf="data.status == 0"
                 nz-icon [nzType]="'smile'" [nzTheme]="'twotone'"></i>
              <i style="font-size: 20px" *ngIf="data.status == 1"
                 nz-icon [nzType]="'sync'" [nzSpin]="true"></i>
              <i style="font-size: 20px" *ngIf="data.status == 3"
                 nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
              <i style="font-size: 20px" *ngIf="data.status == 2"
                 nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
            <nz-tag [nzColor]="(data.type == 'STEP')? '#87d068' :'#2db7f5'">{{data.type}}</nz-tag>
            {{data.name}}
          </li>
          <div style="height: 100px;width: 100%;"></div>
        </ul>
      </ul>
    </div>
  </nz-sider>
  <nz-content>
    <nz-spin [nzSpinning]="isHandlingData">
<!--      <div  style="border:1px solid #d9d9d9;padding: 3px"-->
<!--            [style]="{height: height + 'px', overflowY: 'auto'}">-->
<!--        <ngx-monaco-editor-->
<!--          (init)="initEditor($event)"-->
<!--          style="z-index: 2" [options]="config" [(ngModel)]="inStr" ></ngx-monaco-editor>-->
<!--      </div>-->
    <div  style="border:1px solid #d9d9d9;padding: 3px"
          [style]="{height: height + 'px', overflowY: 'auto'}"
        nz-resizable
        [style.height.px]="contentHeight"
        [nzMaxHeight]="height-200"
        [nzMinHeight]="200"
        (nzResize)="onContentResize($event)"
      >
        <nz-resize-handle nzDirection="bottom">
          <div class="content-resize-line"></div>
        </nz-resize-handle>
        <nz-alert nzType="info" nzMessage="{{ 'IN' | translate }}"></nz-alert>
        <div [style]="{height: (contentHeight -40) + 'px', paddingBottom: '10px'}">
          <ngx-monaco-editor style="z-index: 2"
                             [options]="inConfig" [(ngModel)]="inStr" ></ngx-monaco-editor>
        </div>
      </div>
      <div >
        <nz-alert nzType="success" nzMessage="{{ 'OUT' | translate }}"></nz-alert>
        <nz-spin [nzSpinning]="isHandlingData">
          <div *ngIf="showingType == 'STEP'" nz-row [style]="{height: (height-contentHeight -31.6) + 'px'}">
            <div nz-col nzSpan="6" style="border:1px solid #d9d9d9;padding: 3px">
              <ngx-monaco-editor style="z-index: 2" [options]="validConfig"
                                 [(ngModel)]="validteResultMsg" ></ngx-monaco-editor>
            </div>
            <div nz-col nzSpan="18" style="border:1px solid #d9d9d9;padding: 3px">
              <ngx-monaco-diff-editor [options]="outConfig" [original]="originalCode" [modified]="modifiedCode"></ngx-monaco-diff-editor>
            </div>
          </div>
          <div *ngIf="showingType != 'STEP'" [style]="{height: (height-contentHeight -31.6) + 'px'}">
            <ngx-monaco-editor style="z-index: 2" [options]="outConfig" [(ngModel)]="outStr" ></ngx-monaco-editor>
          </div>
        </nz-spin>
      </div>
    </nz-spin>
  </nz-content>
</nz-layout>
<!--<div >-->
<!--  <div nz-row style="margin-top: 10px">-->
<!--    <div  [style]="{height: (height-87) + 'px'}" nz-col nzSpan="4" style="padding: 20px;overflow-y: auto">-->
<!--      <nz-steps [nzCurrent]="1" nzDirection="vertical">-->
<!--        <nz-step [nzStatus]="data.status"  *ngFor="let data of record" nzTitle="{{data.name}}"-->
<!--                 [nzDescription]="progressTemplate">-->
<!--          <ng-template #progressTemplate >-->
<!--            <div (click)="showDetail(data.uuid, data.caseId, data.version,data.historyId)">-->
<!--              <nz-tag *ngIf="data.tag== 'test'" [nzColor]="'#2db7f5'">test</nz-tag>-->
<!--              <nz-tag *ngIf="data.tag== 'case'" [nzColor]="'#87d068'">{{data.caseId}}</nz-tag>-->
<!--            </div>-->
<!--          </ng-template>-->
<!--        </nz-step>-->
<!--      </nz-steps>-->
<!--    </div>-->
<!--    <div nz-col nzSpan="10" style="padding: 20px">-->
<!--      <nz-spin [nzSpinning]="isHandlingData">-->
<!--        <div  [style]="{height: (height-87) + 'px'}" style="height: 500px">-->
<!--          <ngx-monaco-editor style="z-index: 2" [options]="config" [(ngModel)]="inStr" ></ngx-monaco-editor>-->
<!--        </div>-->
<!--      </nz-spin>-->
<!--    </div>-->
<!--    <div nz-col nzSpan="10" style="padding: 20px">-->
<!--      <nz-spin [nzSpinning]="isHandlingData">-->
<!--        <div [style]="{height: (height-87) + 'px'}" >-->
<!--          <ngx-monaco-editor style="z-index: 2" [options]="config" [(ngModel)]="outStr" ></ngx-monaco-editor>-->
<!--        </div>-->
<!--      </nz-spin>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
