<div
  nz-resizable
  [style.height.px]="contentHeight"
  [nzMaxHeight]="height-200"
  [nzMinHeight]="200"
  (nzResize)="onContentResize($event)"
>
  <nz-resize-handle nzDirection="bottom">
    <div class="content-resize-line"></div>
  </nz-resize-handle>
  <div style="padding-left: 10px;padding-bottom: 2px">
    {{ 'ENV' | translate }}:
    <nz-select style="margin-right: 10px;width: 150px" nzShowSearch nzAllowClear
               nzPlaceHolder="{{ 'SELECT_ENV' | translate }}"
               [(ngModel)]="selectEnvUuid"
               (ngModelChange)="changeEnv()"
    >
      <nz-option *ngFor="let env of envs" nzLabel="{{env.name}}" nzValue="{{env.uuid}}"></nz-option>
    </nz-select>
    <button [disabled]="isRunning" nz-button nzType="primary" (click)="run()">
      {{ 'RUN' | translate }}
    </button>
    <button [disabled]="isRunning" style="margin-left: 10px" nz-button nzType="primary" (click)="getConfig()">
      {{ 'REFRESH' | translate }}
    </button>
    <div *ngIf="!isPublicUnit" style="display: inline">
      <button [disabled]="isRunning" style="margin-left: 10px" nz-button nzType="primary" (click)="update()">
        {{ 'UPDATE' | translate }}
      </button>
      <button [disabled]="isRunning" *ngIf="canPush" style="margin-left: 10px" nz-button nzType="primary" (click)="pushToPublic()">
        {{ 'PUSH' | translate }}
      </button>
      <button [disabled]="isRunning" *ngIf="!canPush" style="margin-left: 10px" nz-button nzType="primary" (click)="updateToPublic()">
        {{ 'UPDATE_TO_PUBLIC' | translate }}
      </button>
    </div>
  </div>
  <div nz-row [style]="{height: (contentHeight -24) + 'px', paddingBottom: '10px'}">
    <div nz-col nzSpan="18" style="border:1px solid #d9d9d9">
      <nz-alert nzType="info" nzMessage="{{ 'GROOVY_CODE' | translate }}"></nz-alert>
      <div [style]="{height: (contentHeight -64) + 'px', paddingBottom: '10px'}">
        <ngx-monaco-editor (init)="initGroovyEditor($event)"
                           style="z-index: 2"
                           [options]="groovyConfig" [(ngModel)]="groovyCode" ></ngx-monaco-editor>
      </div>
    </div>
    <div nz-col nzSpan="6" style="border:1px solid #d9d9d9">
      <nz-alert nzType="info" nzMessage="{{ 'IN' | translate }}"></nz-alert>
      <div [style]="{height: (contentHeight -64) + 'px', paddingBottom: '10px'}">
        <ngx-monaco-editor (init)="initEditor($event)"
                           style="z-index: 2"
                           [options]="config" [(ngModel)]="configJson" ></ngx-monaco-editor>
      </div>
    </div>
  </div>
</div>
<div >
  <nz-alert nzType="success" nzMessage="{{ 'OUT' | translate }}"></nz-alert>
  <nz-spin [nzSpinning]="isRunning">
    <div [style]="{height: (height-contentHeight -31.6) + 'px'}">
      <ngx-monaco-editor style="z-index: 2" [options]="response" [(ngModel)]="responseJson" ></ngx-monaco-editor>
    </div>
  </nz-spin>
</div>

