<div style="width: 100%;color: white;"
     [style]="{height: height + 'px'}">
  <nz-tabset>
    <nz-tab nzTitle="{{ 'RUN_TYPE' | translate }}">
      <div [ngSwitch]="type">
        <div *ngSwitchCase="'HTTP'">
          <app-default-test
            [height]="height - 72"
            [uuid]="id"
            (updateOrPush)="doUpdateOrPush($event)"
          ></app-default-test>
        </div>
        <div *ngSwitchCase="'GROOVY_SCRIPT'">
          <app-groovy-unit
            [height]="height - 72"
            [uuid]="id"
            (updateOrPush)="doUpdateOrPush($event)"
          ></app-groovy-unit>
        </div>
        <div *ngSwitchDefault>
          <app-default-test
            [height]="height - 72"
            [uuid]="id"
            (updateOrPush)="doUpdateOrPush($event)"
          ></app-default-test>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="{{ 'CASE' | translate }}">
      <ng-template nz-tab>
        <app-case-manager [uuid]="id"></app-case-manager>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
