<nz-layout style="height: 100%">
  <nz-sider [nzWidth]="'100px'">
    <div style="background: #ECECEC;padding-top:30px;height: 100%;overflow-y: auto">
      <div style="text-align: center;margin-bottom:  45px;cursor: pointer" (click)="gotoUnit()" [class.active]="isOnUnit">
        <i style="font-size: 22px" nz-icon nzType="bug" nzTheme="twotone" [nzTwotoneColor]="'#ff9900'"></i>
        <h4 style="margin-top: 5px">{{ 'PAGES.UNIT.TITLE' | translate }}</h4>
      </div>
      <div style="text-align: center;margin-bottom:  45px;cursor: pointer" (click)="isOnUnit =false"  routerLink="/integrate" routerLinkActive="active">
        <i style="font-size: 22px" nz-icon nzType="experiment" nzTheme="twotone" [nzTwotoneColor]="'#ff9900'"></i>
        <h4 style="margin-top: 5px">{{ 'PAGES.INTEGRATE.TITLE' | translate }}</h4>
      </div>
      <div style="text-align: center;margin-bottom:  45px;cursor: pointer" (click)="openPlayGround()">
        <i style="font-size: 22px" nz-icon nzType="code" nzTheme="twotone" [nzTwotoneColor]="'#ff9900'"></i>
        <h4 style="margin-top: 5px">{{ 'PAGES.PLAY_GROUND.TITLE' | translate }}</h4>
      </div>
      <div style="text-align: center;margin-bottom:  45px;cursor: pointer" (click)="openSetting()">
        <i style="font-size: 22px" nz-icon nzType="setting" nzTheme="twotone" [nzTwotoneColor]="'#ff9900'"></i>
        <h4 style="margin-top: 5px">{{ 'PAGES.SETTING.TITLE' | translate }}</h4>
      </div>
    </div>
  </nz-sider>
  <nz-layout>
    <div style="height: 100%;overflow-y: auto">
      <router-outlet></router-outlet>
    </div>
  </nz-layout>
</nz-layout>
