<div style="overflow-y:auto;padding-top: 20px;padding-left: 10px">
  <div style="padding-bottom: 8px">
        <a routerLink="../integrate-add" style="margin-right: 8px;"  nz-button nzType="link">{{ 'ADD_TEST' | translate }}</a>
  </div>
  <nz-table #middleTable nzSize="middle" [nzData]="list"
            [nzScroll]="{ y: '500px' }"
            [nzFrontPagination]="false" nzBordered nzOuterBordered>
    <thead>
    <tr>
      <th>{{ 'TITLE' | translate }}</th>
      <th>{{ 'OPERATION' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of middleTable.data">
      <td>{{data.name}}</td>
      <td>
        <a routerLink="../integrate-run"  [queryParams]="{ uuid: data.uuid}" style="margin-right: 8px;"  nz-button nzType="link">{{ 'RUN' | translate }}</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
