<div style="overflow-y:auto;padding-top: 20px;padding-left: 10px">
  <div style="padding-bottom: 8px">
    {{ 'ENV' | translate }}:
    <nz-select style="margin-right: 10px;width: 150px" nzShowSearch nzAllowClear
               nzPlaceHolder="{{ 'SELECT_ENV' | translate }}"
               [(ngModel)]="selectEnv"
    >
      <nz-option *ngFor="let env of envs" nzLabel="{{env.name}}" nzValue="{{env.uuid}}"></nz-option>
    </nz-select>
    <button (click)="refresh()"
            nz-button nzType="primary">{{ 'REFRESH' | translate }}</button>
    <a routerLink="/integrate/add" style="margin-right: 8px;"
       nz-button nzType="link">{{ 'ADD_TEST' | translate }}</a>
    <nz-tag [nzColor]="'green'">{{nodeTotalCount}}</nz-tag>
  </div>
  <nz-spin [nzSpinning]="isHandlingData">
    <div  style="border:1px solid #d9d9d9;padding: 3px"
          [style]="{height: height + 'px', overflowY: 'auto'}">
      <nz-table #middleTable nzSize="middle" [nzData]="list"
                [nzFrontPagination]="false" nzBordered nzOuterBordered>
        <thead>
        <tr>
          <th style="text-align: center">{{ 'STATUS' | translate }}</th>
          <th style="text-align: center">{{ 'TITLE' | translate }}</th>
          <th style="text-align: center">{{ 'NODE_COUNT' | translate }}</th>
          <th style="text-align: center">{{ 'TAG' | translate }}</th>
          <th style="text-align: center">{{ 'OPERATION' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of middleTable.data;let i = index">
          <td style="text-align: center">
            <div style="display: inline;padding-right: 8px;width: 28px;height: 35px">
              <i style="font-size: 24px" *ngIf="data.status == 0"
                 nz-icon [nzType]="'smile'" [nzTheme]="'twotone'"></i>
              <i style="font-size: 24px" *ngIf="data.status == 1"
                 nz-icon [nzType]="'sync'" [nzSpin]="true"></i>
              <i style="font-size: 24px" *ngIf="data.status == 3"
                 nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
              <i style="font-size: 24px" *ngIf="data.status == 2"
                 nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
            </div>
          </td>
          <td>{{data.name}}</td>
          <td>{{data.nodeCount}}</td>
          <td>
            <div *ngIf="data.tags !== undefined">
              <nz-tag *ngFor="let tag of data.tags" [nzColor]="'magenta'">{{tag}}</nz-tag>
            </div>
            <div *ngIf="data.tags === undefined">
            </div>
          </td>
          <td>
            <a routerLink="/integrate/run"  [queryParams]="{ uuid: data.uuid}" nzSize="small"
               nz-button nzType="link">
              {{ 'RUN' | translate }}
            </a>
            <a nz-button nzType="link" nzSize="small" routerLink="/integrate/add" [queryParams]="{ uuid: data.uuid}">
              {{ 'EDIT' | translate }}
            </a>
            <a nz-button nzType="link" nzSize="small" (click)="addTag(data.uuid)">
              {{ 'ADD_TAG' | translate }}
            </a>
            <a nz-button nzType="link"  nzSize="small" (click)="showHistory(data.uuid)">
              {{ 'SHOW_HISTORY' | translate }}
            </a>
            <div style="display: inline">
              <a *ngIf="data.status == 1" nz-button nzType="link"  nzSize="small"  nzDanger
                 (click)="stopEntrustRun(data.uuid, i)">
                {{ 'ENTRUST_RUN_STOP' | translate }}
              </a>
              <a *ngIf="data.status != 1"  nz-button nzType="link"  nzSize="small" (click)="entrustRun(data.uuid, i)">
                {{ 'ENTRUST_RUN' | translate }}
              </a>
            </div>
            <button nz-button nzType="primary" nzDanger nzSize="small"
                    nz-popconfirm
                    nzPopconfirmTitle="{{ 'DELETE_CONFIRM' | translate }}"
                    nzOkText="{{ 'YES' | translate }}"
                    nzCancelText="{{ 'NO' | translate }}"
                    (nzOnConfirm)="confirmDelete(i)"
            >
              {{ 'DELETE' | translate }}
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-spin>

  <nz-modal [(nzVisible)]="isAddTagModal"
            nzTitle="{{ 'ADD_TAG' | translate }}"
            (nzOnCancel)="isAddTagModal = false"
            (nzOnOk)="doAddTag()">
    <ng-container *nzModalContent>
      <input nz-input placeholder="{{ 'INPUT_TAG_NAME' | translate }}" [(ngModel)]="tagName" />
    </ng-container>
  </nz-modal>
  <nz-modal [(nzVisible)]="isShowHistory"
            nzWidth="80%"
            nzTitle="The first Modal" (nzOnCancel)="closeHistory()" [nzFooter]="null">
    <ng-container *nzModalContent>

      <nz-spin [nzSpinning]="isGettingHistory">
        <nz-table #middleTable nzSize="middle"
                  [nzScroll]="{ y: (height-87) + 'px' }"
                  [nzData]="historyData"
                  [nzFrontPagination]="false" nzBordered nzOuterBordered>
          <thead>
          <tr>
            <th style="text-align: center">{{ 'RESULT' | translate }}</th>
            <th style="text-align: center">{{ 'START_TIME' | translate }}</th>
            <th style="text-align: center">{{ 'END_TIME' | translate }}</th>
            <th style="text-align: center">{{ 'ORIGIN' | translate }}</th>
            <th style="text-align: center">{{ 'ENV' | translate }}</th>
            <th style="text-align: center">{{ 'DOWNLOAD_PATH' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of middleTable.data">
            <td style="text-align: center">
              <div style="display: inline;padding-right: 8px;width: 28px;height: 35px">
                <i style="font-size: 24px" *ngIf="!data.noError"
                   nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
                <i style="font-size: 24px" *ngIf="data.noError"
                   nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
              </div>
            </td>
            <td style="text-align: center">{{data.startAt}}</td>
            <td style="text-align: center">{{data.endAt}}</td>
            <td style="text-align: center">
              <nz-tag [nzColor]="'cyan'">{{data.origin}}</nz-tag>
            </td>
            <td style="text-align: center">
              <nz-tag [nzColor]="'orange'">{{data.env}}</nz-tag>
            </td>
            <td style="text-align: center">
              <a nz-button nzType="link" nzSize="small"  (click)="openReport(data.id, data.uuid)">#{{data.id}}</a>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-spin>
    </ng-container>
  </nz-modal>
</div>
