<div>
  <nz-layout>
    <nz-sider nzTheme="light" >
      <div [style]="{height: height + 'px', overflowY: 'auto'}">
        <ul nz-menu nzMode="inline" nzTheme="light">
          <li nzTitle="Public" nzIcon="laptop">
            <ul>
              <li *ngFor="let m of publicMenu" nz-submenu nzTitle="{{m.groupName}}" >
                <ul>
                  <li *ngFor="let item of m.units" (contextmenu)="contextMenu($event, menu)"
                      [nzSelected]="urls.length> 0 && item.uuid === urls[index].uuid"
                      (click)="addUrl(item.uuid, item.unitName, m.uuid, m.groupName)"
                      nz-menu-item
                      [routerLink]="['.']"
                      [queryParams]="{ tab: item.uuid}">
                    {{item.unitName}}
                  </li>
                </ul>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item >{{ 'COPY_TO_OTHER' | translate }}</li>
                  </ul>
                </nz-dropdown-menu>
              </li>
            </ul>
          </li>
          <li *ngFor="let m of userMenu" nz-submenu
              nzIcon="{{m.icon}}"
              nzTitle="{{m.groupName}}" >
            <ul>
              <li *ngFor="let item of m.units" (contextmenu)="contextMenu($event, menu)"
                  [nzSelected]="urls.length> 0 && item.uuid === urls[index].uuid"
                  (click)="addUrl(item.uuid, item.unitName, m.uuid, m.groupName)"
                  nz-menu-item
                  [routerLink]="['.']"
                  [queryParams]="{ tab: item.uuid}">
                {{item.unitName}}
              </li>
            </ul>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item >{{ 'COPY' | translate }}</li>
                <li nz-menu-item >{{ 'COPY_TO_OTHER' | translate }}</li>
              </ul>
            </nz-dropdown-menu>
          </li>
        </ul>
      </div>
    </nz-sider>
    <nz-content>
      <nz-tabset
        (nzSelectedIndexChange)="changeSelectTabs($event)"
                 [(nzSelectedIndex)]="index"
                 nzType="editable-card"
                 (nzAdd)="isShowAddDialog = true"
                 nzLinkRouter>
        <nz-tab *ngFor="let url of urls;let i = index" >
          <a *nzTabLink (contextmenu)="contextMenu($event, menu)"
             [style]="{color: index === i ?'green': '#1890ff'}"
             style="width: 100%;height: 100%"
             nz-tab-link
             [routerLink]="['.']"
             [queryParams]="{ tab: url.uuid }"
             queryParamsHandling="merge">
            {{url.name}}
          </a>
          <app-unit-dashboard [id]="url.uuid"></app-unit-dashboard>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="deleteTab(i)">close</li>
            </ul>
          </nz-dropdown-menu>
        </nz-tab>
      </nz-tabset>
      <nz-modal [(nzVisible)]="isShowAddDialog"
                nzTitle="{{ 'ADD_GROUP_OR_UNIT' | translate }}"
                (nzOnCancel)="isShowAddDialog = false"
                [nzFooter]="null">
        <ng-container *nzModalContent>
          <app-add-group-or-unit-test (menuEvent)="updateUserMenu($event)" [groups]="groups"></app-add-group-or-unit-test>
        </ng-container>
      </nz-modal>
    </nz-content>
  </nz-layout>
</div>
